<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">



    <bean id="myFortuneService" class="com.mami.luv2codes.HappyFortuneService" ></bean>

    <bean id="baseballCoach" class="com.mami.luv2codes.BaseballCoach">

        <constructor-arg ref="myFortuneService"/>
    </bean>

    <bean id="trackCoach" class="com.mami.luv2codes.TrackCoach " scope="prototype">
    <constructor-arg  ref="myFortuneService"/>
    </bean>

    <bean  id="cricketCoach" class="com.mami.luv2codes.CricketCoach">

        <property name="fortuneService" ref="myFortuneService"/>

        <property name="email" value="${foo.email}"/>
        <property name="team" value="${foo.team}"/>


    </bean>



</beans>